@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header{
    background-color: #d7d4ff;
}

.formulario h2{
    font-size: 32px;
    font-family: 'Merriweather', serif;
}

html {
    height: 100%;
}
