.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    width: 100%;
}

.imagem-header img {
    width: 359.75px;
}

.texto-header {
    width: 389px;
    margin-top: 1%;

}

.header p {
    margin-top: 3%;
}

.botao-header {
    height: 50px;
    border-radius: 5px;
    width: 155px;
    display: flex;
    margin-top: 20px;
    background-color: #6c63ff;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    flex-wrap: wrap;
}

.botao-header:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: 0.3s;
    font-size: 20px;
}

.botao-header, select {
    cursor: pointer;
} 

.botao-rodape, select {
    cursor: pointer;
}


.card1, .card2, .card3, .card4, .card5, .card6 {
    width: 340px;
    height: 423px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
}

.painel {
    width: 340px;
    height: 222px;
}

.card1 .painel {
    background-color: #FF6363
}

.card2 .painel {
    background-color: #63ECFF;
}

.card3 .painel {
    background: #F363FF;
}

.card4 .painel {
    background: #63FF73;
}

.card5 .painel {
    background: #FFDD63;
}

.card6 .painel {
    background: #6663FF;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.rodape {
    background: #D7D4FF;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    padding: 30px;
}

.formulario h2 {
    text-align: center;
    padding: 0;
}

.botao-rodape {
    width: 471px;
    height: 50px;
    background: #6C63FF;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.botao-rodape:hover{
    font-size: 20px;
    transition: 0.3s;
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(166, 139, 241, 0.2);
    text-shadow: none;
}

.input {
    width: 470px;
    height: 65px;
    margin: 10px;
}

.mensagem {
    width: 470px;
    height: 165px;
    margin: 10px;
}

.texto {
    padding: 30px;
    line-height: 22px;
}

.texto h2 {
    padding-bottom: 10px;
}

.direitos {
    width: 100%;
    background-color: #D7D4FF;
    text-align: center;
    padding-bottom: 20px;
}

.iuri:hover , .milena:hover{
    font-size: 20px;
    color: crimson;
}